:root{
  --primary: #011061;
  --secondary: #DB7B04;
  --helper-primary-light: #0926F8;
  --helper-primary-dark: #011061;
  --helper-secondary-light: #FED74B;
  --helper-secondary-dark: #461B02;
  
  
}


*{
  margin: 0;
  font-size: 25px;
}

.groupInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}